<ol class='breadcrumb'>
  <li><a href="#/">home</a></li> 
  
  <% if(client) { %>
    <li><a href="#/clients">clients</a></li>
    <li><a href="#/clients/<%= client.id %>"><%= 
        client.escape('name') 
      %></a></li>
  <% } else { %> 
    <li>loading client...</li>
  <% }%>
  <li><a href="#/projects">projects</a></li>
  <li class='active'><%= project.escape('name')%></li>
</ol>

<h2><%= project.escape('name') %> &nbsp; 
  <small class='pull-right'>
    status:
    <% if(project.escape('open') === 'true') { %>
      <span class='label label-success'>OPEN</span>
    <% } else { %>
      <span class='label label-warning'>CLOSED</span>
    <% } %>
  </small>
</h2>
<a href="#/projects/<%= project.id %>/edit">
  edit project</a>&nbsp;
<button 
  class='delete-project btn btn-sm btn-default'>
  delete project
</button>

<h4>hours:</h4>
<div class='panel panel-primary hours-display'>
  <div class='panel-heading'>
    <h2 class='panel-title'>uninvoiced hours: 
      <span class='uninvoiced'>
        <%= project.escape('uninvoiced_hours') %>
      </span>&nbsp;
      <a href="#" class='make-invoice label label-primary'>
        invoice&nbsp;
        <span class='glyphicon glyphicon-send'></span>&nbsp;</a>
    </h2>
  </div>
  
  <div class='panel-footer'>
    total hours: 
    <span class='total'>
      <%= project.get('total_hours') %>
    </span>
  </div>
</div>

<h4>client:</h4>
  <% if(client) { %>
    <%= client.escape('name') %>
  <% } else { %> 
    loading client...
  <% } %>
<h4>description:</h4>
<pre><%= project.escape('description') %></pre>
<h4>Deliverables:</h4>

<form class='new-deliverable form-inline' role='form'>
  <div class='form-group'>
    <label for='deliverable_name' class='sr-only'></label>
    <input 
      type="text" 
      class='form-control'
      id='deliverable_name'
      placeholder='What do you have to deliver?'
      name="deliverable[name]">
  </div>
  
  <div class='form-group'>
    <button 
      class='btn btn-sm btn-default'>
      add deliverable
    </button>
  </div>
</form>

<ul class='deliverables'></ul>