<ol class='breadcrumb'>

  <li><a href="#/">home</a></li> 
  
  <% if(client) { %>
    <li><a href="#/clients">clients</a></li>
    <li><a href="#/clients/<%= client.id %>"><%= 
        client.escape('name') 
      %></a></li>
  <% } else { %> 
    <li>loading client...</li>
  <% }%>
  <li><a href="#/projects">projects</a></li>
  <li class='active'><%= project.escape('name')%></li>

</ol>

<h2><%= project.escape('name') %></h2>
<a href="#/projects/<%= project.id %>/edit">
  edit project</a>&nbsp;
<button 
  class='delete-project btn btn-sm btn-default'>
  delete project
</button>

<h4>client:</h4>
  <% if(client) { %>
    <%= client.escape('name') %>
  <% } else { %> 
    loading client...
  <% } %>
<h4>description:</h4>
<pre><%= project.escape('description') %></pre>
<h4>open:</h4><%= project.escape('open') %>
<br>

<h4>Deliverables:</h4>

<form class='new-deliverable'>
  <label>
    <input type="text" name="deliverable[name]">
  </label>
  <button 
    class='btn btn-sm btn-default'>
    add deliverable
  </button>
</form>

<ul class='deliverables'></ul>