<div id='registration-content'>
  <div class='col-sm-offset-2 col-sm-10'>
    <h2>Sign Up</h2>
  </div>
  
  <form 
    accept-charset="UTF-8" 
    action="<%= user_registration_url %>" 
    class="new_user form-horizontal" 
    id="new_user" 
    method="post"
    role='form'>
    
    <div class='col-sm-offset-2 col-sm-10'>
      <%= devise_error_messages! %>
    </div>
    
    <div style="display:none">
      <input 
        name="utf8" 
        type="hidden" 
        value="✓">
      <input 
        name="authenticity_token" 
        type="hidden" 
        value="<%= form_authenticity_token %>">
    </div>
  
    <div class='form-group'>
      <label class='col-sm-2 control-label' for="user_email">
        Email
      </label>
      <div class='col-sm-10'>
        <input 
          class='form-control'
          placeholder='Enter your email'
          autofocus="autofocus" 
          id="user_email" 
          name="user[email]" 
          type="email" 
          value="<%= @user.email %>">
      </div>
    </div>

    <div class='form-group'>
      <label class='col-sm-2 control-label' for="user_password">
        Password
      </label>
      <div class='col-sm-10'>
        <input 
          class='form-control'
          autocomplete="off" 
          id="user_password" 
          placeholder='Choose your password'
          name="user[password]" 
          type="password">
      </div>
    </div>
    
    <div class='form-group'>
      <label 
        for="user_password_confirmation"
        class='col-sm-2 control-label'>
        Confirm password
      </label>
      <div class='col-sm-10'>
        <input 
          autocomplete="off" 
          placeholder='Confirm your password'
          class='form-control'
          id="user_password_confirmation" 
          name="user[password_confirmation]" 
          type="password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input 
          class='btn btn-primary'
          name="commit" 
          type="submit" 
          value="Sign up">
      </div>
    </div>

  </form>

  <div class='col-sm-offset-2 col-sm-10'>
    <%= render "devise/shared/links" %>
  </div>
</div>