<% var disabled %>

<% if(deliverable.get('completed')) { %>
  <% disabled = 'disabled' %>
  <button 
    class='checkbox checked btn btn-sm btn-default'>
  </button>  
  <span class='completed'>
<% } else { %>
  <button 
    class='unchecked checkbox btn btn-sm btn-default'>
  </button>
  <span>
<% } %>
  <%= deliverable.escape('name') %> <%= deliverable.escape('rank') %>
</span>

<button 
  class="remove-task btn btn-sm btn-danger <%= disabled %>">
  delete
</button>

<% var dontHide %>
<% if(subdeliverableCount == '0') { dontHide = 'disabled text-muted' } %>
<button
  class="show-subdeliverables btn btn-sm btn-default <%= dontHide %>">
  <span class='caret'></span> 
  <span class='badge badge-primary'><%= subdeliverableCount %></span>
</button>
<button
  class="hide-subdeliverables btn btn-sm btn-default <%= dontHide %>">
  <span class='caret caret-reversed'></span>
  <span class='badge'><%= subdeliverableCount %></span>
  
</button>

<button 
  class="show-new-subdeliverable btn btn-sm btn-default">
  +
</button>

<ul class="subdeliverables"></ul>