<!DOCTYPE html>
<html>
  <head>
    <title>Freelancer</title>
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.png', type: 'png' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/navbar' %>
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>

    <div class='container'>
      <%= yield %>
    </div>
    
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
